@page "/inherits"

@inherits ReactiveInjectableComponentBase<SimpleViewModel>

<p>View that gets the ViewModel from inheriting ReactiveInjectableComponentBase</p>

@foreach (var value in ViewModel!.Values)
{
    <p>@(value)</p>
    Counter++;
}

<p>Foreach loop was executed @Counter times</p>
<p>ViewModel.Values contains @ViewModel.Values.Count items</p>

@code
{
    public int Counter { get; set; }
}